/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Elements */
body{
  font-family: 'Poppins', sans-serif;
  background: #010203;
  color: #fff;
}

.container {
  /* width: 80%; */
  /* padding: 0 5rem;
  margin: 0 auto; */
}

/* Utility Classes */
.text-center {
  text-align: center;
}

/* Headings */
h1 {
  padding: 1rem;
}

h1:after {
  display: block;
  height: 2px;
  background-color: #a38b00;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 8px;
}

/* Menu Section */
#menu-content {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}

.menu-item {
  display: flex;
}

.menu-item img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
  border: 2px solid #a38b00;
}

.menu-item .item-content {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.menu-item .item-content ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 1rem;
  border-bottom: 1px solid #a38b00;
}

.menu-item .item-content ul li:nth-child(2) {
  color: #a38b00;
  font-size: 1.2rem;
}

.menu-item .item-content .item-name h3 {
  text-transform: capitalize;
}

/* Menu Buttons */
#menu-btns {
  display: flex;
  justify-content: center;
  padding: 2rem 0 ;
}

#menu-btns button {
  border-radius: 5px;
  margin-right: 2rem;

}

#menu-btns button:last-child {
  margin-right: 0;
}

/* From cssbuttons.io by @adamgiebl */
#menu-btns button {
  --green: #a38b00;
  font-size: 15px;
  padding: 0.5rem 1rem;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(163, 169, 0, 0.1) 1%, transparent 40%,transparent 60% , rgba(163, 169, 0, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(163, 169, 0, 0.4), 0 0 9px 3px rgba(163, 169, 0, 0.1);
 }
 
 #menu-btns button:hover {
  color: #a38b00;
  box-shadow: inset 0 0 10px rgba(163, 169, 0, 0.6), 0 0 9px 3px rgba(163, 169, 0, 0.2);
 }
 
 #menu-btns button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(163, 169, 0, 0.1) 40%,rgba(163, 169, 0, 0.1) 60% , transparent 100%);
 }
 
 #menu-btns button:hover:before {
  transform: translateX(15em);
 }

 #menu-btns button:focus {
   background: #a38b00;
   color: #010203;
 }